
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490078755622'); /* IE9*/
  src: url('iconfont.eot?t=1490078755622#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490078755622') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490078755622') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490078755622#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin:before { content: "\e60d"; }

.icon-home:before { content: "\e601"; }

.icon-user:before { content: "\e603"; }

.icon-menu:before { content: "\e605"; }

.icon-store:before { content: "\e60e"; }

.icon-cart:before { content: "\e619"; }

.icon--float-right:before { content: "\e6c8"; }

