.per_wrap{
	width:100%;
	overflow:hidden;
	.per_message{
		width:100%;
		height:100px;
		background:#fff;
		div{
			float:left;
		}
		.per_left{
			width:23%;
			height:100%;
			margin-right:10px;
			p{
				width:100%;
				height:100%;
				font-size:20px;
				color:#333;
				line-height:100px;
				text-align:center;
			}
		}
		.per_c{
			margin-top:15px;
			width:45%;
			p{
				font-size:16px;
				color:#333;
				height:25px;
				span{
					color:red;
				}
			}
			.per_name{
				color:#ff9600;
			}
		}
		.per_r{
			float:right;
			height:100px;
			line-height:100px;
			font-size:14px;
			color:#666;
		}
	}
	.per_type{
		width:100%;
		height:50px;
		display: flex;
		background:#fff;
		margin-top:15px;
		div{
			flex:1;
			box-sizing: border-box;
			padding-top:15px;
			p{
				width:100%;
				text-align: center;
			}
		}
	}
	.per_content{
		width:100%;
		height:50px;
		background:#fff;
		margin-top:10px;
		.per_a{
			color:#333;
			display:inline-block;
			width:100%;
			height:100%;
		}
		p{
			float:right;
			height:30px;
			margin:10px 10px 0 10px;
			line-height:30px;

		}
		.per_detaile{
			float:left;
		}
	}
	.quit{
		margin-top:10px;
		width:100%;
		height:50px;
		text-align:center;
		input{
			width:80%;
			height:100%;
			border:none;
			line-height:50px;
			color:#fff;
			font-size:20px;
			background:#ff9600;
			border-radius:5px;
		}
	}
}